/* footer.css */

.footer {
  position: fixed; /* ou absolute, conforme necessário */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; /* ajuste conforme necessário */
  background-color: #333;
  color: #fff;
  text-align: center;
  z-index: 1000; /* ajuste o z-index conforme necessário para garantir que o footer esteja acima de outros elementos */
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  margin-right: 10px;
}

.footer-link,
.footer-link:hover,
.footer-link:visited {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer-icon {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}