/* Mobile-first approach */

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px; /* updated border-radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container h1{
  color: #337ab7;  
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px; /* updated border-radius */
  padding: 10px; /* added padding to make the border-radius visible */
}

.form-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-container input[type='text'],
.form-container input[type='number'] {
  text-align: center;
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 20px; /* updated border-radius */
  font-size: 16px;
}

.form-container button {
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* updated border-radius */
  font-size: 16px;
}

.items-list {
  padding: 0;
  list-style: none;
}

.items-list li {  
  text-align: center;
  background-color: #f7f7f7;   
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 20px; /* updated border-radius */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-list li:last-child {
  margin-bottom: 0;
}

.items-list span {
  max-width: 200px;   
  display: inline-block;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;  
}


.total {
  color: #337ab7;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  position: relative;
  bottom: 0;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 20px; /* updated border-radius */
}

.add-button,
.edit-button,
.remove-button {
  background-color: #337ab7;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* updated border-radius */
  margin-right: 10px;
}

.edit-button {
  background-color: #337ab7;
}

.remove-button {
  background-color: #e74c3c;
}

/* Media query for larger screens */
@media screen and (min-width: 800px) {
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
  }

.header {
    font-size: 24px;
  }

.form-container input[type='text'],
.form-container input[type='number'] {
    
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

.form-container button {
    padding: 15px 30px;
  }

.items-list li {
    padding: 20px;
    margin-bottom: 20px;
  }

.total {
    font-size: 24px;
    margin-top: 20px;
  }
}